body {
    background: url(img/fondo2.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;

}

#gato{
    height: 350px;
    width: 350px;
    background-color: rgba(230, 230, 230, 0.2);
    backdrop-filter: blur(5px);
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#orejas{ 
    width: 81%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
}

#oreja1,#oreja2{
    background-color: rgba(63, 61, 61, 0.2);
    height: 100%;
    width: 31%;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    border: 1px solid white;
    border-bottom: none;
    backdrop-filter: blur(5px);
    margin: 0;
    padding: 0%;
}

#oreja1{translate: 2px;}
#oreja2{translate: -1px;}

#cabeza{
    height: 50%;
    width: 80%;
    background-color: rgba(63, 61, 61, 0.2);
    border-radius: 0 0 40% 40%;
    backdrop-filter: blur(5px);
    border: 1px solid white;
    border-top: none;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#tirar{
    border: none;
    border-radius: 5px 5px 40% 40%;
    height: 20px;
    margin-top: 3px;

}

#tirar:active{scale: 0.9;}

#casillas{
    height: 40%;
    width: 80%;
    background-color: rgba(15, 14, 14, 0.33);
    border: 1px solid white;
    border-radius: 5px 5px 30px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 30px;

}

#casilla1,#casilla2,#casilla3{
    height: 90%;
    width: 30%;
    border: 1px solid rgb(220, 219, 217);
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}

@keyframes ganador{
    0%{scale: 1;}
    25%{scale: 0.95;}
    50%{scale: 0.99;}
    100%{scale: 1;}
}

#logo{
    width: 100px;
    height: 50px;
    translate: -440px;
    display: flex;
    align-items: end;
    font-size: 5px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.607);
}

#imglogo{
    border-radius: 10px;
    width: 50%;
    height: 100%;}

